.input {
  margin: 12px 0;

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  select {
    width: 100%;
  }

  label {
    font-weight: 600;
    margin: 0 0 2px 0;
    display: block;
    font-size: 12px;
  }
}

.submitButton {
  display: flex;
  justify-content: end;
  input {
    margin-top: 24px;
  }
}